<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								活动名称：<input type="text" name="name"/>
							</li>
							<li>
								活动参与者：<input type="text" name="peopleList"/>
							</li>
							<li class="select-time">
								<label>时间： </label>
								<input type="text" class="time-input" id="startDate" placeholder="开始时间" name="startDate"/>
								<span>-</span>
								<input type="text" class="time-input" id="endDate" placeholder="结束时间" name="endDate"/>
							</li>
							<li>
								组别：
								<select id="model" name="model"  th:with="type=${@dict.getType('user_models')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								活动类型：
								<select id="activityType" name="activityType"  th:with="type=${@dict.getType('user_activity_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								是否发布：
								<select id="isPublish" name="isPublish"  th:with="type=${@dict.getType('user_yes_no')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="llc:activity:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="llc:activity:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="llc:activity:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="llc:activity:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('llc:activity:edit')}]];
        var removeFlag = [[${@permission.hasPermi('llc:activity:remove')}]];
        var datas = [[${@dict.getType('user_yes_no')}]];
        var models = [[${@dict.getType('user_models')}]];
        var activityTypes = [[${@dict.getType('user_activity_type')}]];

        var prefix = ctx + webPrefix+ "/llc/activity";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "活动管理",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'name', 
					title : '名称'
				},
				{
					field : 'author', 
					title : '作者',
					sortable: true
				},
				{
					field : 'peopleList', 
					title : '参与者人员'
				},
				{
					field : 'startDate', 
					title : '开始时间',
					sortable: true,
                    formatter: function(value, row, index) {
                        return Format(row.startDate,"yyyy-MM-dd hh:mm:ss");
                    }
				},
				{
					field : 'endDate', 
					title : '结束时间',
					sortable: true
				},
				{
					field : 'introduction', 
					title : '简介',
                    visible: false
				},
				{
					field : 'model', 
					title : '组别',
					sortable: true,
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(models, value);
                    }
				},
				{
					field : 'activityType', 
					title : '类型',
					sortable: true,
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(activityTypes, value);
                    }
				},
				{
					field : 'isPublish', 
					title : '是否发布',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        //js新建格式化函数
        //返回的是对应fmt时间格式的字符串
        function Format(datetime,fmt) {
            if (parseInt(datetime)==datetime) {
                if (datetime.length==10) {
                    datetime=parseInt(datetime)*1000;
                } else if(datetime.length==13) {
                    datetime=parseInt(datetime);
                }
            }
            datetime=new Date(datetime);
            var o = {
                "M+" : datetime.getMonth()+1,                 //月份
                "d+" : datetime.getDate(),                    //日
                "h+" : datetime.getHours(),                   //小时
                "m+" : datetime.getMinutes(),                 //分
                "s+" : datetime.getSeconds(),                 //秒
                "q+" : Math.floor((datetime.getMonth()+3)/3), //季度
                "S"  : datetime.getMilliseconds()             //毫秒
            };
            if(/(y+)/.test(fmt))
                fmt=fmt.replace(RegExp.$1, (datetime.getFullYear()+"").substr(4 - RegExp.$1.length));
            for(var k in o)
                if(new RegExp("("+ k +")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
            return fmt;
        }
    </script>
</body>
</html>