<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-project-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">项目名称：</label>
            <div class="col-sm-8">
                <input id="name" name="name" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目编号：</label>
            <div class="col-sm-8">
                <input id="requireNum" name="requireNum" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目介绍：</label>
            <div class="col-sm-8">
                <select id="introduction" name="introduction" class="form-control">
                    <option th:each="document,iterStat : ${documentList}" th:text="${document.title}"
                            th:value="${document.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">介绍文件：</label>
            <div class="col-sm-8">
                <select id="introductionFile" name="introductionFile" th:field="*{introductionFile}" class="form-control">
                    <option th:each="file,iterStat : ${filesList}" th:text="${file.FileName}"
                            th:value="${file.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目状态：</label>
            <div class="col-sm-8">
                <input id="status" name="status" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">研究领域：</label>
            <div class="col-sm-8">
                <input id="researchField" name="researchField" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目经费：</label>
            <div class="col-sm-8">
                <input id="money" name="money" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">

            <label class="col-sm-3 control-label">开始时间：</label>
            <div class="col-sm-9">
                <div class="form-group">
                    <div class="input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="startDate" name="startDate" class="time-input form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束时间：</label>
            <div class="col-sm-9">
                <div class="form-group">
                    <div class="input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="endDate" name="endDate" class="time-input form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目负责人：</label>
            <div class="col-sm-8">
                <input id="responsiblePerson" name="responsiblePerson" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目类型：</label>
            <div class="col-sm-8">
                <input id="projectType" name="projectType" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目人员：</label>
            <div class="col-sm-8">
                <input id="members" name="members" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目描述：</label>
            <div class="col-sm-8">
                <input id="projectDes" name="projectDes" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目目标：</label>
            <div class="col-sm-8">
                <input id="projectAim" name="projectAim" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">主办单位：</label>
            <div class="col-sm-8">
                <input id="hostUnit" name="hostUnit" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">协办单位：</label>
            <div class="col-sm-8">
                <input id="coUnit" name="coUnit" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">承办单位：</label>
            <div class="col-sm-8">
                <input id="undertakeUnit" name="undertakeUnit" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目类别：</label>
            <div class="col-sm-8">
                <select id="team" name="team" class="form-control" th:with="type=${@dict.getType('user_project_type')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否发布：</label>
            <div class="col-sm-8">
                <select id="isPublish" name="isPublish" class="form-control"
                        th:with="type=${@dict.getType('user_yes_no')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    ctx = ctx + webPrefix + "/";
    var prefix = ctx + "llc/project";
    $("#form-project-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-project-add').serialize());
        }
    }
</script>
</body>
</html>
