<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								项目名称：<input type="text" name="name"/>
							</li>
							<li>
								项目编号：<input type="text" name="requireNum"/>
							</li>
							<li>
								研究领域：<input type="text" name="researchField"/>
							</li>
							<li class="select-time">
								<label>开始时间： </label>
								<input type="text" class="time-input" id="startDate" placeholder="开始" name="startDate"/>
								<span>-</span>
								<input type="text" class="time-input" id="endDate" placeholder="结束" name="endDate"/>
							</li>
							<li>
								项目类型：<input type="text" name="projectType"/>
							</li>
							<li>
								项目类别：
								<select id="team" name="team"  th:with="type=${@dict.getType('user_project_type')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								项目描述：<input type="text" name="projectDes"/>
							</li>
							<li>
								是否发布：
								<select id="isPublish" name="isPublish"  th:with="type=${@dict.getType('user_yes_no')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="llc:project:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="llc:project:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="llc:project:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="llc:project:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('llc:project:edit')}]];
        var removeFlag = [[${@permission.hasPermi('llc:project:remove')}]];
        var datas = [[${@dict.getType('user_yes_no')}]];
        ctx = ctx + webPrefix+"/";
        var prefix = ctx + "llc/project";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "项目管理",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					field : 'name', 
					title : '项目名称',
					sortable: true
				},
				{
					field : 'requireNum', 
					title : '项目编号',
					sortable: true
				},
				{
					field : 'introduction', 
					title : '项目介绍',
					sortable: true
				},
				{
					field : 'introductionFile', 
					title : '介绍文件',
					sortable: true
				},
				{
					field : 'status', 
					title : '项目状态',
					sortable: true
				},
				{
					field : 'researchField', 
					title : '研究领域',
					sortable: true
				},
				{
					field : 'money', 
					title : '项目经费',
					sortable: true
				},
				{
					field : 'startDate', 
					title : '开始时间',
					sortable: true
				},
				{
					field : 'endDate', 
					title : '结束时间',
					sortable: true
				},
				{
					field : 'responsiblePerson', 
					title : '项目负责人',
                    visible: false
				},
				{
					field : 'projectType', 
					title : '项目类型'
				},
				{
					field : 'members', 
					title : '项目人员'
				},
				{
					field : 'projectDes', 
					title : '项目描述'
				},
				{
					field : 'projectAim', 
					title : '项目目标',
                    visible: false
				},
				{
					field : 'hostUnit', 
					title : '主办单位',
                    visible: false
				},
				{
					field : 'coUnit', 
					title : '协办单位',
                    visible: false
				},
				{
					field : 'undertakeUnit', 
					title : '承办单位',
                    visible: false
				},
                    {
                        field : 'team',
                        title : '项目类别',
                        visible: false
                    },
				{
					field : 'isPublish', 
					title : '是否发布',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
				},
				{
					field : 'updateTime', 
					title : '更新时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>