<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.llc.document1.mapper.Document1Mapper">
    
    <resultMap type="Document1" id="Document1Result">
        <result property="id"    column="id"    />
        <result property="author"    column="author"    />
        <result property="content"    column="content"    />
        <result property="infor"    column="infor"    />
        <result property="title"    column="title"    />
        <result property="model"    column="model"    />
        <result property="authorId"    column="author_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="modifyDate"    column="modify_date"    />
    </resultMap>
	
	<sql id="selectDocument1Vo">
        select id, author, content, infor, title, model, author_id, create_date, modify_date from llc_document1
    </sql>
	
    <select id="selectDocument1List" parameterType="Document1" resultMap="Document1Result">
        <include refid="selectDocument1Vo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="author != null  and author != '' "> and author = #{author}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="infor != null  and infor != '' "> and infor = #{infor}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
             <if test="model != null  and model != '' "> and model = #{model}</if>
             <if test="authorId != null "> and author_id = #{authorId}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="modifyDate != null "> and modify_date = #{modifyDate}</if>
         </where>
    </select>
    
    <select id="selectDocument1ById" parameterType="Long" resultMap="Document1Result">
        <include refid="selectDocument1Vo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDocument1" parameterType="Document1">
        insert into llc_document1
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="author != null  and author != ''  ">author,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="infor != null  and infor != ''  ">infor,</if>
			<if test="title != null  and title != ''  ">title,</if>
			<if test="model != null  and model != ''  ">model,</if>
			<if test="authorId != null  ">author_id,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="modifyDate != null  ">modify_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="author != null  and author != ''  ">#{author},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="infor != null  and infor != ''  ">#{infor},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="model != null  and model != ''  ">#{model},</if>
			<if test="authorId != null  ">#{authorId},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="modifyDate != null  ">#{modifyDate},</if>
         </trim>
    </insert>
	 
    <update id="updateDocument1" parameterType="Document1">
        update llc_document1
        <trim prefix="SET" suffixOverrides=",">
            <if test="author != null  and author != ''  ">author = #{author},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="infor != null  and infor != ''  ">infor = #{infor},</if>
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="model != null  and model != ''  ">model = #{model},</if>
            <if test="authorId != null  ">author_id = #{authorId},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="modifyDate != null  ">modify_date = #{modifyDate},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteDocument1ById" parameterType="Long">
        delete from llc_document1 where id = #{id}
    </delete>
	
    <delete id="deleteDocument1ByIds" parameterType="String">
        delete from llc_document1 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>