<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.llc.images.mapper.ImagesMapper">
    
    <resultMap type="Images" id="ImagesResult">
        <result property="id"    column="id"    />
        <result property="url"    column="url"    />
        <result property="status"    column="status"    />
        <result property="fileName"    column="file_name"    />
        <result property="originalName"    column="original_name"    />
        <result property="remark"    column="remark"    />
        <result property="content"    column="content"    />
        <result property="suffix"    column="suffix"    />
        <result property="type"    column="type"    />
        <result property="author"    column="author"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectImagesVo">
        select id, url, status, file_name, original_name, remark, content, suffix, type, author, create_time, update_time from llc_images
    </sql>
	
    <select id="selectImagesList" parameterType="Images" resultMap="ImagesResult">
        <include refid="selectImagesVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="url != null  and url != '' "> and url = #{url}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="fileName != null  and fileName != '' "> and file_name = #{fileName}</if>
             <if test="originalName != null  and originalName != '' "> and original_name = #{originalName}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="suffix != null  and suffix != '' "> and suffix = #{suffix}</if>
             <if test="type != null "> and type = #{type}</if>
             <if test="author != null  and author != '' "> and author = #{author}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectImagesById" parameterType="Integer" resultMap="ImagesResult">
        <include refid="selectImagesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertImages" parameterType="Images">
        insert into llc_images
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="url != null  and url != ''  ">url,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="fileName != null  and fileName != ''  ">file_name,</if>
			<if test="originalName != null  and originalName != ''  ">original_name,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="suffix != null  and suffix != ''  ">suffix,</if>
			<if test="type != null  ">type,</if>
			<if test="author != null  and author != ''  ">author,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="url != null  and url != ''  ">#{url},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="fileName != null  and fileName != ''  ">#{fileName},</if>
			<if test="originalName != null  and originalName != ''  ">#{originalName},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="suffix != null  and suffix != ''  ">#{suffix},</if>
			<if test="type != null  ">#{type},</if>
			<if test="author != null  and author != ''  ">#{author},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateImages" parameterType="Images">
        update llc_images
        <trim prefix="SET" suffixOverrides=",">
            <if test="url != null  and url != ''  ">url = #{url},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="fileName != null  and fileName != ''  ">file_name = #{fileName},</if>
            <if test="originalName != null  and originalName != ''  ">original_name = #{originalName},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="suffix != null  and suffix != ''  ">suffix = #{suffix},</if>
            <if test="type != null  ">type = #{type},</if>
            <if test="author != null  and author != ''  ">author = #{author},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteImagesById" parameterType="Integer">
        delete from llc_images where id = #{id}
    </delete>
	
    <delete id="deleteImagesByIds" parameterType="String">
        delete from llc_images where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>