<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.llc.project.mapper.ProjectMapper">
    
    <resultMap type="Project" id="ProjectResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="requireNum"    column="require_num"    />
        <result property="introduction"    column="introduction"    />
        <result property="introductionFile"    column="introduction_file"    />
        <result property="status"    column="status"    />
        <result property="researchField"    column="research_field"    />
        <result property="money"    column="money"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="responsiblePerson"    column="responsible_person"    />
        <result property="projectType"    column="project_type"    />
        <result property="members"    column="members"    />
        <result property="projectDes"    column="project_des"    />
        <result property="projectAim"    column="project_aim"    />
        <result property="hostUnit"    column="host_unit"    />
        <result property="coUnit"    column="co_unit"    />
        <result property="undertakeUnit"    column="undertake_unit"    />
        <result property="isPublish"    column="is_publish"    />
        <result property="updateTime"    column="update_time"    />
        <result property="team"    column="team"    />
    </resultMap>
	
	<sql id="selectProjectVo">
        select id, name, require_num, introduction, introduction_file, status, research_field, money, start_date, end_date, responsible_person, project_type, members, project_des, project_aim, host_unit, co_unit, undertake_unit, is_publish, update_time from llc_project
    </sql>
	
    <select id="selectProjectList" parameterType="Project" resultMap="ProjectResult">
        <include refid="selectProjectVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="requireNum != null  and requireNum != '' "> and require_num = #{requireNum}</if>
             <if test="introduction != null "> and introduction = #{introduction}</if>
             <if test="introductionFile != null "> and introduction_file = #{introductionFile}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="researchField != null  and researchField != '' "> and research_field = #{researchField}</if>
             <if test="money != null  and money != '' "> and money = #{money}</if>
             <if test="startDate != null "> and start_date = #{startDate}</if>
             <if test="endDate != null "> and end_date = #{endDate}</if>
             <if test="responsiblePerson != null  and responsiblePerson != '' "> and responsible_person = #{responsiblePerson}</if>
             <if test="projectType != null  and projectType != '' "> and project_type = #{projectType}</if>
             <if test="members != null  and members != '' "> and members = #{members}</if>
             <if test="projectDes != null  and projectDes != '' "> and project_des = #{projectDes}</if>
             <if test="projectAim != null  and projectAim != '' "> and project_aim = #{projectAim}</if>
             <if test="hostUnit != null  and hostUnit != '' "> and host_unit = #{hostUnit}</if>
             <if test="coUnit != null  and coUnit != '' "> and co_unit = #{coUnit}</if>
             <if test="undertakeUnit != null  and undertakeUnit != '' "> and undertake_unit = #{undertakeUnit}</if>
             <if test="isPublish != null "> and is_publish = #{isPublish}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectProjectById" parameterType="Integer" resultMap="ProjectResult">
        <include refid="selectProjectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProject" parameterType="Project">
        insert into llc_project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="requireNum != null  and requireNum != ''  ">require_num,</if>
			<if test="introduction != null  ">introduction,</if>
			<if test="introductionFile != null  ">introduction_file,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="researchField != null  and researchField != ''  ">research_field,</if>
			<if test="money != null  and money != ''  ">money,</if>
			<if test="startDate != null  ">start_date,</if>
			<if test="endDate != null  ">end_date,</if>
			<if test="responsiblePerson != null  and responsiblePerson != ''  ">responsible_person,</if>
			<if test="projectType != null  and projectType != ''  ">project_type,</if>
			<if test="members != null  and members != ''  ">members,</if>
			<if test="projectDes != null  and projectDes != ''  ">project_des,</if>
			<if test="projectAim != null  and projectAim != ''  ">project_aim,</if>
			<if test="hostUnit != null  and hostUnit != ''  ">host_unit,</if>
			<if test="coUnit != null  and coUnit != ''  ">co_unit,</if>
			<if test="undertakeUnit != null  and undertakeUnit != ''  ">undertake_unit,</if>
			<if test="isPublish != null  ">is_publish,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="requireNum != null  and requireNum != ''  ">#{requireNum},</if>
			<if test="introduction != null  ">#{introduction},</if>
			<if test="introductionFile != null  ">#{introductionFile},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="researchField != null  and researchField != ''  ">#{researchField},</if>
			<if test="money != null  and money != ''  ">#{money},</if>
			<if test="startDate != null  ">#{startDate},</if>
			<if test="endDate != null  ">#{endDate},</if>
			<if test="responsiblePerson != null  and responsiblePerson != ''  ">#{responsiblePerson},</if>
			<if test="projectType != null  and projectType != ''  ">#{projectType},</if>
			<if test="members != null  and members != ''  ">#{members},</if>
			<if test="projectDes != null  and projectDes != ''  ">#{projectDes},</if>
			<if test="projectAim != null  and projectAim != ''  ">#{projectAim},</if>
			<if test="hostUnit != null  and hostUnit != ''  ">#{hostUnit},</if>
			<if test="coUnit != null  and coUnit != ''  ">#{coUnit},</if>
			<if test="undertakeUnit != null  and undertakeUnit != ''  ">#{undertakeUnit},</if>
			<if test="isPublish != null  ">#{isPublish},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateProject" parameterType="Project">
        update llc_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="requireNum != null  and requireNum != ''  ">require_num = #{requireNum},</if>
            <if test="introduction != null  ">introduction = #{introduction},</if>
            <if test="introductionFile != null  ">introduction_file = #{introductionFile},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="researchField != null  and researchField != ''  ">research_field = #{researchField},</if>
            <if test="money != null  and money != ''  ">money = #{money},</if>
            <if test="startDate != null  ">start_date = #{startDate},</if>
            <if test="endDate != null  ">end_date = #{endDate},</if>
            <if test="responsiblePerson != null  and responsiblePerson != ''  ">responsible_person = #{responsiblePerson},</if>
            <if test="projectType != null  and projectType != ''  ">project_type = #{projectType},</if>
            <if test="members != null  and members != ''  ">members = #{members},</if>
            <if test="projectDes != null  and projectDes != ''  ">project_des = #{projectDes},</if>
            <if test="projectAim != null  and projectAim != ''  ">project_aim = #{projectAim},</if>
            <if test="hostUnit != null  and hostUnit != ''  ">host_unit = #{hostUnit},</if>
            <if test="coUnit != null  and coUnit != ''  ">co_unit = #{coUnit},</if>
            <if test="undertakeUnit != null  and undertakeUnit != ''  ">undertake_unit = #{undertakeUnit},</if>
            <if test="isPublish != null  ">is_publish = #{isPublish},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteProjectById" parameterType="Integer">
        delete from llc_project where id = #{id}
    </delete>
	
    <delete id="deleteProjectByIds" parameterType="String">
        delete from llc_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>