<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-software-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">名称：</label>
				<div class="col-sm-8">
					<input id="title" name="title" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">申请日：</label>
				<div class="col-sm-9">
					<div class="form-group">
						<div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input id="appliDate" name="appliDate" class="time-input form-control" >
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">摘要：</label>
				<div class="col-sm-8">
					<select id="introduction" name="introduction" class="form-control">
						<option th:each="document,iterStat : ${documentList}" th:text="${document.title}" th:value="${document.id}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">发明人列表：</label>
				<div class="col-sm-8">
					<input id="authorList" name="authorList" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">关联的文件id：</label>
				<div class="col-sm-8">
					<select id="sourceFile" name="sourceFile"  class="form-control">
						<option th:each="file,iterStat : ${filesList}" th:text="${file.FileName}"
								th:value="${file.id}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">所属项目：</label>
				<div class="col-sm-8">
					<input id="belongProject" name="belongProject" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">公开号：</label>
				<div class="col-sm-8">
					<input id="publicNum" name="publicNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">公开日：</label>
				<div class="col-sm-9">
					<div class="form-group">
						<div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							<input id="publicDate" name="publicDate" class="time-input form-control" >
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<input id="status" name="status" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">权利取得方式：</label>
				<div class="col-sm-8">
					<input id="publicMethod" name="publicMethod" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">权利范围：</label>
				<div class="col-sm-8">
					<input id="rightRange" name="rightRange" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">是否发布：</label>
				<div class="col-sm-8">
					<select id="isPublish" name="isPublish" class="form-control" th:with="type=${@dict.getType('user_yes_no')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
        ctx = ctx + webPrefix+"/";
		var prefix = ctx + "llc/software";
		$("#form-software-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-software-add').serialize());
	        }
	    }
	</script>
</body>
</html>
