<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>系统介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/admin/css/bootstrap.min.css" th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/admin/css/font-awesome.min.css" th:href="@{/admin/css/font-awesome.min.css}"
          rel="stylesheet"/>
    <link href="../static/admin/css/main/animate.min.css" th:href="@{/admin/css/main/animate.min.css}"
          rel="stylesheet"/>
    <link href="../static/admin/css/main/style.min862f.css" th:href="@{/admin/css/main/style.min862f.css}"
          rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <blockquote class="text-warning" style="font-size:14px">

        </blockquote>
        <hr>
    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-5">

    </div>
    <div class="col-sm-4">

    </div>

</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-4">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>联系信息</h5>
                </div>
                <div class="ibox-content">

                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
</body>
</html>
