<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								姓名：<input type="text" name="name"/>
							</li>
							<li>
								留言内容：<input type="text" name="content"/>
							</li>
							<li class="select-time">
								<label>留言时间：</label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="createTime"/>
								<!--<span>-</span>-->
								<!--<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="createTime"/>-->
							</li>
							<li>
								是否已查看：
								<select id="isView" name="isView"  th:with="type=${@dict.getType('user_yes_no')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">

				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="llc:comments:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="llc:comments:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="llc:comments:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('llc:comments:edit')}]];
        var removeFlag = [[${@permission.hasPermi('llc:comments:remove')}]];
        var datas = [[${@dict.getType('user_yes_no')}]];

        var prefix = ctx +webPrefix+"/llc/comments";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "访客留言",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'name', 
					title : '姓名',
					sortable: true
				},
				{
					field : 'content', 
					title : '留言内容',
//                    formatter: function(value, row, index) {
//                        return $.table.tooltip(value);
//                    }
				},
				{
					field : 'contact', 
					title : '联系方式',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '留言时间',
					sortable: true
				},
				{
					field : 'isView', 
					title : '是否已查看',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
				},
				{
					field : 'ipAddress', 
					title : 'IP地址',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>